.Board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.BoardAndResetContainer {
  display: flex;
  flex-direction: column;
  border: 3px solid red;
}

.PLayerContainer {
  border: 3px solid brown;
}

.TicTacToe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Header {
  border-bottom: 3px solid black;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
}
